<?php if ($this->getHelper()->getConversionIsActive()):?>
    <?php $orders = $this->getOrders();?>
    <?php foreach ($orders as $order) :?>
    <script type="text/javascript">
        /* <![CDATA[ */
        var yahoo_conversion_id = <?php echo $this->escapeHtml($this->getHelper()->getConversionId()) ?>;
        var yahoo_conversion_label = "<?php echo $this->escapeHtml($this->getHelper()->getConversionValue())?>";
        var yahoo_conversion_value = <?php echo $this->escapeHtml((integer)$order->getBaseGrandTotal())?>;
        /* ]]> */
    </script>
    <script type="text/javascript"
            src="https://s.yimg.jp/images/listing/tool/cv/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;"
                 alt=""
                 src="https://b91.yahoo.co.jp/pagead/conversion/<?php echo $this->escapeHtml($this->getHelper()->getConversionId())?>/?value=<?php echo $this->escapeHtml((integer)$order->getBaseGrandTotal())?>&amp;label=<?php echo $this->escapeHtml($this->getHelper()->getConversionValue())?>&amp;guid=ON&amp;script=0&amp;disvt=true"/>
        </div>
    </noscript>
    <?php endforeach;?>
<?php endif;?>