<?php if ($this->getHelper()->getUniversalIsActive()):?>
<script type="text/javascript"> (function () {
        var tagjs = document.createElement("script");
        var s = document.getElementsByTagName("script")[0]; tagjs.async = true;
        tagjs.src = "//s.yjtag.jp/tag.js#site=<?php echo $this->escapeHtml($this->getHelper()->getUniversalAccount())?>"; s.parentNode.insertBefore(tagjs, s); }());
</script>
<noscript>
    <iframe src="//b.yjtag.jp/iframe?c=<?php echo $this->escapeHtml($this->getHelper()->getUniversalAccount())?>" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
<?php endif;?>