<?php if($this->getHelper()->getYdnIsActive()):?>
    <?php $orders = $this->getOrders();?>
    <?php foreach ($orders as $order) :?>
        <script language="JavaScript" type="text/javascript">
            <!--
            var yahoo_ydn_conv_io="<?php echo $this->escapeHtml($this->getHelper()->getYdnAccount()) ?>";
            var yahoo_ydn_conv_label = "<?php echo $this->escapeHtml($this->getHelper()->getYdnLabel()) ?>";
            var yahoo_ydn_conv_transaction_id = "<?php echo $this->escapeHtml($order->getIncrementId()) ?>";
            var yahoo_ydn_conv_amount = "<?php echo $this->escapeHtml((integer)$order->getBaseGrandTotal()) ?>";
            //-->
        </script>
        <script type="text/javascript" language="javascript" charset="UTF-8" src="https://b90.yahoo.co.jp/conv.js"></script>
    <?php endforeach;?>
<?php endif;?>